body {
  width: 35em;
  margin: 1em auto 2em auto;
  background: #778D3A;
  color: #eee;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
table {
  border-collapse: collapse;
}

a { text-decoration: underline; color: blue; cursor: pointer; }
a:hover { text-decoration: none; }

h1 {
  text-align: center;
  font-size: 1.4em;
}

.tz-list {
  padding: 1em;
  margin-bottom: 2em;
}
.tz-countries>select, .tz-timezones>select {
  width: 100%;
  margin-bottom: 0.6em;
  padding: 0.2em;
  font-size: 1em;
}
.tz-add {
  text-align: center;
}
.tz-add>button {
  padding: 0.3em;
  font-size: 1em;
}
.tz-add .icomoon {
  padding-right: 0.4em;
}

.clocks {
  width: 33em;
  padding: 1em;
  background: #3E4957;
  color: #fff;
  border-radius: 1em;
}
.clocks td {
  border: none;
  padding: 0.4em 1em;
  vertical-align: top;
}
.clocks-offset {
  text-align: right;
  color: #999;
}
.clocks-tz {
  width: 100%;
}
.clocks-time {
  min-width: 4.5em;
}
.clocks-tz-country, .clocks-day {
  font-size: 0.8em;
  color: #999;
}
td.clocks-remove {
  padding: 0;
}
.clocks-remove>a {
  display: block;
  width: 1em;
  padding: 1em;
  font-family: icomoon;
  font-size: 18px;
  color: #999;
  text-decoration: none;
  text-align: right;
}
.clocks-remove>a:hover {
  color: red;
  border-color: red;
  box-shadow-color: red;
}
.links {
  margin-top: 0.4em;
  text-align: right;
}
.links a {
  display: inline-block;
  padding: 0.3em;
  font-size: 20px;
  color: #3E4957;
  text-decoration: none;
}
.links a:hover {
  color: #000;
}
.clocks-slider>input {
  width: 100%;
}

.icomoon {
  font-family: 'icomoon';
  speak: none;
}
